@model IEnumerable<GenerateReport>
@{
    ViewData["Title"] = "Archived Reports";
    Layout = "_NavChief1";
}

<div class="submit-report-container">
    <div class="report-categories">
        <a href="/Chief/GenerateReport" class="report-category generate">
            <h3>Generate Report</h3>
        </a>
        <a href="/Chief/ArchivedReport" class="report-category submit">
            <h3>Archived Report </h3>
        </a>
    </div>
    <hr />

    @if(Model != null && Model.Any())
    {
        <div class="search-section">
            <!-- Search Form -->
            <form asp-controller="Chief" asp-action="ArchivedReport" method="get" class="form-inline mb-3">
                <input type="text" name="searchString" class="search-box" placeholder="Search by Report Type" value="@ViewData["currentFilter"]" />
                <button type="submit" class="search-btn"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <table class="document-table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Type of Report</th>
                    <th>Generated</th>
                    <th>Action</th>
                    <th>Unarchive</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var report in Model)
                {
                    <tr>
                        <td>@report.gr_fileName</td>
                        <td>@report.gr_typeofReport</td>
                        <td>@ActionLog.GetTimeAgo(report.generateDate)</td>
                        <td>
                            <a href="@Url.Action("PreviewFile", new {id = report.gr_Id})" style="color: #850000;">
                                <i class="bi bi-eye-fill" style="font-size: 30px;"></i>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("UnarchiveReport", new {id = report.gr_Id})" style="color: #850000;">
                                <i class="bi bi-archive" style="font-size: 30px;"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Archived Report yet.</p>
    }
</div>