@model IEnumerable<RemcSys.Models.FundedResearchApplication>
@{
    ViewData["Title"] = "Externally Funded Research Applications";
    Layout = "_NavChief1";
}

<div class="funded-research-container">
    <h2 class="title">EXTERNALLY FUNDED RESEARCH APPLICATIONS</h2>

    <div class="research-categories">
        <div class="research-category university-funded">
            <a asp-action="UFResearchApp"><h3>University Funded Research</h3></a>
        </div>
        <div class="research-category externally-funded">
            <a asp-action="EFResearchApp"><h3>Externally Funded Research</h3></a>
        </div>
        <div class="research-category research-load">
            <a asp-action="UFRLApp"><h3>University Funded Research Load</h3></a>
        </div>
    </div>
    <hr />

    <div class="search-section">
        <!-- Search Form -->
        <form asp-controller="Chief" asp-action="EFResearchApp" method="get" class="form-inline mb-3">
            <input type="text" name="searchString" class="search-box" placeholder="Search by Research Title" value="@ViewData["currentFilter"]" />
            <button type="submit" class="search-btn"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <table class="document-table">
        <thead>
            <tr>
                <th>DTS No.</th>
                <th>Application Details</th>
                <th>Application Time Span</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.dts_No)
                    </td>
                    <td class="research-details">
                        <b>Research Title:</b> @Html.DisplayFor(modelItem => item.research_Title)<br />
                        <b>Field of Study:</b> @Html.DisplayFor(modelItem => item.field_of_Study)
                    </td>
                    <td>
                        <p>@ActionLog.GetTimeAgo(item.submission_Date)</p>
                    </td>
                    <td>
                        <a asp-action="DocuList" asp-route-id="@item.fra_Id" class="edit-btn"><i class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>