@model IEnumerable<RemcSys.Models.FundedResearchApplication>
@{
    ViewData["Title"] = "Externally Funded Research Applications";

    Layout = "_NavChief1";
}

<div class="funded-research-container">
    <div class="research-categories">
        <a href="UFResearchApp" class="UFR">
            <div class="research-category inactive">
                <h3>University Funded Research</h3>
            </div>
        </a>


        <a href="EFResearchApp" class="EFR">
            <div class="research-category active">
                <h3>Externally Funded Research</h3>
            </div>
        </a>

        <a href="UFRLApp" class="UFRL">
            <div class="research-category inactive">
                <h3>University Funded Research Load</h3>
            </div>
        </a>

        <a href="UEResearchApp" class="UFR-E">
            <div class="research-category inactive">
                <h3>UFR - Evaluation</h3>
            </div>
        </a>

        <a href="UploadNTP" class="NTP">
            <div class="research-category inactive">
                <h3>Funded Research - Upload NTP</h3>
            </div>
        </a>
    </div>
    <h2 class="title">EXTERNALLY FUNDED RESEARCH APPLICATIONS</h2>
    <hr />

    @if(Model != null && Model.Any())
    {
        <div class="search-section">
            <!-- Search Form -->
            <form asp-controller="Chief" asp-action="EFResearchApp" method="get" class="form-inline mb-3">
                <input type="text" name="searchString" class="search-box" placeholder="Search by Research Title"
                       value="@ViewData["currentFilter"]" />
                <button type="submit" class="search-btn"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <table class="document-table">
            <thead>
                <tr>
                    <th>DTS No.</th>
                    <th>Application Details</th>
                    <th>Application Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <td>
                            @(item.dts_No != null ? item.dts_No : "-")
                        </td>
                        <td class="research-details">
                            <b>Research Title:</b> @item.research_Title<br />
                            <b>Field of Study:</b> @item.field_of_Study
                        </td>
                        <td>
                            <p>@item.submission_Date.ToString("MMMM d, yyyy")</p>
                        </td>
                        <td>
                            <a asp-action="DocuList" asp-route-id="@item.fra_Id" class="edit-btn"><i class="bi bi-pencil-square" style="color:#000"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else

    {
        <p>No Externally Funded Research Application yet.</p>
    }
</div>