@model IEnumerable<ActionLog>
@{
    ViewData["Title"] = "Progress Tracker";
    Layout = "_NavTeamLeader2";
}

<div class="container">
    <h1>Progress Report Tracker</h1>
    @if (ViewBag.Status == "Completed")
    {
        <form method="post" asp-action="NewApplication">
            <input type="hidden" name="frId" value="@ViewBag.Id" />
            <button type="submit" class="extend-btn">New Application</button>

            <br />
        </form>
    }
    else
    {
        <button class="extend-btn" id="extendBtn">Request Extension</button>

        <br />
    }
    <h6><b>NOTE:</b> To upload your report, simply click upload button below.</h6>

    <!-- Progress Steps -->
    <div class="step-container">
        <div class="step">
            <div class="step-icon @(ViewBag.Status == "Ongoing" || ViewBag.Status == "Submitted Progress Report No.1" || ViewBag.Status == "Checked Progress Report No.1" || ViewBag.Count >= 1 ? "unlocked" : "locked")">
                <i class="bi bi-file-earmark-bar-graph-fill" style="font-size: 35px;"></i>
            </div>
            <strong>Progress Report 1</strong>
            <p>@ViewBag.Report1.ToString("MMMM d, yyyy")</p>
            @if (ViewBag.Status == "Ongoing")
            {
                <div class="view-btn">
                    <a asp-action="UploadProgReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                </div>
            }
            else if (ViewBag.Status == "Submitted Progress Report No.1" || ViewBag.Status == "Checked Progress Report No.1")
            {
                <div class="view-btn">
                    <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                </div>
            }
            else if (ViewBag.Count >= 1)
            {
                <i class="bi bi-check-circle-fill" style="color: #850000"></i>
            }
        </div>
        <div class="step">
            <div class="step-icon @(ViewBag.Status == "Checked Progress Report No.1"  || ViewBag.Status == "Checked Progress Report No.2" || ViewBag.Count >= 2  ? "unlocked" : "locked")">
                <i class="bi bi-file-earmark-bar-graph-fill" style="font-size: 35px"></i>
            </div>
            <strong>Progress Report 2</strong>
            <p>@ViewBag.Report2.ToString("MMMM d, yyyy")</p>
            @if (ViewBag.Status == "Checked Progress Report No.1") // && DateTime.Now >= ViewBag.Report1
            {
                <div class="view-btn">
                    <a asp-action="UploadProgReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                </div>
            }
            else if (ViewBag.Status == "Submitted Progress Report No.2" || ViewBag.Status == "Checked Progress Report No.2")
            {
                <div class="view-btn">
                    <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                </div>
            }
            else if (ViewBag.Status == "Ongoing" || ViewBag.Status == "Submitted Progress Report No.1") // || DateTime.Now < ViewBag.Report1
            {
                <i class="bi bi-lock" style="color: #850000"></i>
            }
            else if (ViewBag.Count >= 2)
            {
                <i class="bi bi-check-circle-fill" style="color: #850000"></i>
            }
        </div>
        <div class="step">
            <div class="step-icon @(ViewBag.Status == "Checked Progress Report No.2" || ViewBag.Status == "Submitted Progress Report No.3" || ViewBag.Status == "Checked Progress Report No.3" || ViewBag.Count >= 3  ? "unlocked" : "locked")">
                <i class="bi bi-file-earmark-bar-graph-fill" style="font-size: 35px"></i>
            </div>
            <strong>Progress Report 3</strong>
            <p>@ViewBag.Report3.ToString("MMMM d, yyyy")</p>
            @if (ViewBag.Status == "Checked Progress Report No.2") // && DateTime.Now >= ViewBag.Report2
            {
                <div class="view-btn">
                    <a asp-action="UploadProgReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                </div>
            }
            else if (ViewBag.Status == "Submitted Progress Report No.3" || ViewBag.Status == "Checked Progress Report No.3")
            {
                <div class="view-btn">
                    <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                </div>
            }
            else if (ViewBag.Count < 2 || ViewBag.Status == "Submitted Progress Report No.2") // || DateTime.Now < ViewBag.Report2
            {
                <i class="bi bi-lock" style="color: #850000"></i>
            }
            else if (ViewBag.Count >= 3)
            {
                <i class="bi bi-check-circle-fill" style="color: #850000"></i>
            }
        </div>
        <div class="step">
            <div class="step-icon @(ViewBag.Status == "Checked Progress Report No.3" || ViewBag.Status == "Submitted Progress Report No.4" || ViewBag.Status == "Checked Progress Report No.4" || ViewBag.Count >= 4 ? "unlocked" : "locked" )">
                <i class="bi bi-file-earmark-bar-graph-fill" style="font-size: 35px"></i>
            </div>
            <strong>Progress Report 4</strong>
            <p>@ViewBag.Report4.ToString("MMMM d, yyyy")</p>
            @if (ViewBag.Status == "Checked Progress Report No.3") // && DateTime.Now >= ViewBag.Report3
            {
                <div class="view-btn">
                    <a asp-action="UploadProgReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                </div>
            }
            else if (ViewBag.Status == "Submitted Progress Report No.4" || ViewBag.Status == "Checked Progress Report No.4")
            {
                <div class="view-btn">
                    <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                </div>
            }
            else if (ViewBag.Count < 3 || ViewBag.Status == "Submitted Progress Report No.3") // || DateTime.Now < ViewBag.Report3
            {
                <i class="bi bi-lock" style="color: #850000"></i>
            }
            else if (ViewBag.Count >= 4)
            {
                <i class="bi bi-check-circle-fill" style="color: #850000"></i>
            }
        </div>
        @if (ViewBag.Extend1)
        {
            <div class="step">
                <div class="step-icon @(ViewBag.Status == "Checked Progress Report No.4" || ViewBag.Status == "Submitted Progress Report No.5" || ViewBag.Status == "Checked Progress Report No.5" || ViewBag.Count >= 5 ? "unlocked" : "locked")">
                    <i class="bi bi-file-earmark-bar-graph-fill" style="font-size: 35px"></i>
                </div>
                <strong>Progress Report 5</strong>
                <p>@ViewBag.Report5.ToString("MMMM d, yyyy")</p>
                @if (ViewBag.Status == "Checked Progress Report No.4") // && DateTime.Now >= ViewBag.Report4
                {
                    <div class="view-btn">
                        <a asp-action="UploadProgReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                    </div>
                }
                else if (ViewBag.Status == "Submitted Progress Report No.5" || ViewBag.Status == "Checked Progress Report No.5")
                {
                    <div class="view-btn">
                        <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                    </div>
                }
                else if (ViewBag.Count < 4 || ViewBag.Status == "Submitted Progress Report No.4") // || DateTime.Now < ViewBag.Report4
                {
                    <i class="bi bi-lock" style="color: #850000"></i>
                }
                else if (ViewBag.Count >= 5)
                {
                    <i class="bi bi-check-circle-fill" style="color: #850000"></i>
                }
            </div>
            <div class="step">
                <div class="step-icon @(ViewBag.Status == "Checked Progress Report No.5" || ViewBag.Status == "Submitted Terminal Report" || ViewBag.Status == "Checked Terminal Report" || ViewBag.Count >= 6 ? "unlocked" : "locked")">
                    <i class="bi bi-terminal-fill" style="font-size: 35px"></i>
                </div>
                <strong>Terminal Report</strong>
                @if (ViewBag.Status == "Checked Progress Report No.5")
                {
                    <div class="view-btn">
                        <a asp-action="UploadTerminalReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                    </div>
                }
                else if (ViewBag.Status == "Submitted Terminal Report" || ViewBag.Status == "Checked Terminal Report")
                {
                    <div class="view-btn">
                        <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                    </div>
                }
                else if (ViewBag.Count < 5 || ViewBag.Status == "Submitted Progress Report No.5")
                {
                    <i class="bi bi-lock" style="color: #850000"></i>
                }
                else if (ViewBag.Count >= 6)
                {
                    <i class="bi bi-check-circle-fill" style="color: #850000"></i>
                }
            </div>
        }
        else if (ViewBag.Extend2)
        {
            <div class="step">
                <div class="step-icon @(ViewBag.Status == "Checked Progress Report No.4" || ViewBag.Status == "Submitted Progress Report No.5" || ViewBag.Status == "Checked Progress Report No.5" || ViewBag.Count >= 5? "unlocked" : "locked")">
                    <i class="bi bi-file-earmark-bar-graph-fill" style="font-size: 35px"></i>
                </div>
                <strong>Progress Report 5</strong>
                <p>@ViewBag.Report5.ToString("MMMM d, yyyy")</p>
                @if (ViewBag.Status == "Checked Progress Report No.4") // && DateTime.Now >= ViewBag.Report4
                {
                    <div class="view-btn">
                        <a asp-action="UploadProgReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                    </div>
                }
                else if (ViewBag.Status == "Submitted Progress Report No.5" || ViewBag.Status == "Checked Progress Report No.5")
                {
                    <div class="view-btn">
                        <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                    </div>
                }
                else if (ViewBag.Count < 4 || ViewBag.Status == "Submitted Progress Report No.4") // || DateTime.Now < ViewBag.Report4
                {
                    <i class="bi bi-lock" style="color: #850000"></i>
                }
                else if (ViewBag.Count >= 5)
                {
                    <i class="bi bi-check-circle-fill" style="color: #850000"></i>
                }
            </div>
            <div class="step">
                <div class="step-icon @(ViewBag.Status == "Checked Progress Report No.5" || ViewBag.Status == "Submitted Progress Report No.6" || ViewBag.Status == "Checked Progress Report No.6" || ViewBag.Count >= 6 ? "unlocked" : "locked")">
                    <i class="bi bi-file-earmark-bar-graph-fill" style="font-size: 35px"></i>
                </div>
                <strong>Progress Report 6</strong>
                <p>@ViewBag.Report6.ToString("MMMM d, yyyy")</p>
                @if (ViewBag.Status == "Checked Progress Report No.5") // && DateTime.Now >= ViewBag.Report5
                {
                    <div class="view-btn">
                        <a asp-action="UploadProgReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                    </div>
                }
                else if (ViewBag.Status == "Submitted Progress Report No.6" || ViewBag.Status == "Checked Progress Report No.6")
                {
                    <div class="view-btn">
                        <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                    </div>
                }
                else if (ViewBag.Count < 5 || ViewBag.Status == "Submitted Progress Report No.5") // || DateTime.Now < ViewBag.Report5
                {
                    <i class="bi bi-lock" style="color: #850000"></i>
                }
                else if (ViewBag.Count >= 6)
                {
                    <i class="bi bi-check-circle-fill" style="color: #850000"></i>
                }
            </div>
            <div class="step">
                <div class="step-icon @(ViewBag.Status == "Checked Progress Report No.6" || ViewBag.Status == "Submitted Terminal Report" || ViewBag.Status == "Checked Terminal Report" || ViewBag.Count >= 7 ? "unlocked" : "locked")">
                    <i class="bi bi-terminal-fill" style="font-size: 35px"></i>
                </div>
                <strong>Terminal Report</strong>
                @if (ViewBag.Status == "Checked Progress Report No.6")
                {
                    <div class="view-btn">
                        <a asp-action="UploadTerminalReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                    </div>
                }
                else if (ViewBag.Status == "Submitted Terminal Report" || ViewBag.Status == "Checked Terminal Report")
                {
                    <div class="view-btn">
                        <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                    </div>
                }
                else if (ViewBag.Count < 6 || ViewBag.Status == "Submitted Progress Report No.6")
                {
                    <i class="bi bi-lock" style="color: #850000"></i>
                }
                else if (ViewBag.Count >= 7)
                {
                    <i class="bi bi-check-circle-fill" style="color: #850000"></i>
                }
            </div>
        }
        else
        {
            <div class="step">
                <div class="step-icon @(ViewBag.Status == "Checked Progress Report No.4" || ViewBag.Status == "Submitted Terminal Report" || ViewBag.Status == "Checked Terminal Report" || ViewBag.Count >= 5 ? "unlocked" : "locked")">
                    <i class="bi bi-terminal-fill" style="font-size: 35px"></i>
                </div>
                <strong>Terminal Report</strong>
                @if (ViewBag.Status == "Checked Progress Report No.4")
                {
                    <div class="view-btn">
                        <a asp-action="UploadTerminalReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                    </div>
                }
                else if (ViewBag.Status == "Submitted Terminal Report" || ViewBag.Status == "Checked Terminal Report")
                {
                    <div class="view-btn">
                        <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                           style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                    </div>
                }
                else if (ViewBag.Count < 4 || ViewBag.Status == "Submitted Progress Report No.4")
                {
                    <i class="bi bi-lock" style="color: #850000"></i>
                }
                else if (ViewBag.Count >= 5)
                {
                    <i class="bi bi-check-circle-fill" style="color: #850000"></i>
                }
            </div>
        }
        <div class="step">
            <div class="step-icon @(ViewBag.Status == "Checked Terminal Report" || ViewBag.Status == "Submitted Liquidation Report" || ViewBag.Status == "Completed" ? "unlocked" : "locked")">
                <i class="bi bi-cash-coin" style="font-size: 35px"></i>
            </div>
            <strong>Liquidation Report</strong>
            @if (ViewBag.Status == "Checked Terminal Report")
            {
                <div class="view-btn">
                    <a asp-action="UploadLiquidationReport" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">Upload</a>
                </div>
            }
            else if (ViewBag.Status == "Submitted Liquidation Report" || ViewBag.Status == "Completed")
            {
                <div class="view-btn">
                    <a asp-action="ProgressReportStatus" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">View</a>
                </div>
            }
            else
            {
                <i class="bi bi-lock" style="color: #850000"></i>
            }
        </div>
        <div class="step">
            <div class="step-icon @(ViewBag.Status == "Completed" ? "unlocked" : "locked")">
                <i class="bi bi-check2-circle" style="font-size: 35px"></i>
            </div>
            <strong style="font-size: 14px;">Certificate of Completion</strong>
            @if (ViewBag.Status == "Completed")
            {
                <div class="view-btn">
                    <a class="view-btn" asp-action="DownloadCC" asp-controller="ProgressReport" asp-route-id="@ViewBag.Id"
                       style="font-size:12px; text-decoration: none; color: #850000;">Download</a>
                </div>
            }
            else
            {
                <i class="bi bi-lock" style="color: #850000"></i>
            }
        </div>
    </div>

    <!-- Research Details -->
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="research-details">
                <p><strong>Research Title:</strong> @ViewBag.Research</p>
                <p>
                    <strong>Proponents:</strong> @ViewBag.Lead
                    @if (!ViewBag.Members.Contains("N/A"))
                    {
                        @foreach (var member in ViewBag.Members)
                        {
                            @: , @member
                        }
                    }
                </p>
                <p><strong>Field of Study:</strong> @ViewBag.Field</p>
            </div>
        </div>

        <!-- Document History -->
        <div class="col-md-6">
            <div class="document-history">
                <h5><strong>Document History</strong></h5>
                @foreach (var log in Model)
                {
                    <div class="document-history-item">
                        <div class="history-item-content">
                            <div class="check-icon">
                                <span class="track_line"></span>
                                <i class="bi bi-check-circle" style="font-size: 20px;"></i>
                            </div>
                            <span>@log.Action - @ActionLog.GetTimeAgo(log.Timestamp)</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--feedback pop-up-->
<div class="feedback" id="feedbackPopup" style="display: none;">
    <div class="card1">
        <button type="button" class="fdismiss" id="dismissBtn">×</button>
        <span class="title">Request Extension</span>
        <div class="card2">
            <p>
                If you wish to request an extension for your funded research. Kindly send an email in sample@gmail.com.
            </p>
        </div>
    </div>
</div>
<script>
    document.getElementById('extendBtn').addEventListener('click', function () {
        document.getElementById('feedbackPopup').style.display = 'block';
    });

    document.getElementById('dismissBtn').addEventListener('click', function () {
        document.getElementById('feedbackPopup').style.display = 'none';
    });

</script>