@model IEnumerable<ViewEvaluationVM>
@{
    ViewData["Title"] = "Evaluator Evaluated Evaluations";
    Layout = "_NavEvaluator1";
}
<div class="pending-evaluations-container">
    <h2 class="title">EVALUATIONS</h2>
    <div class="eval-categories">
        <a href="/Evaluator/EvaluatorPending" class="eval-category to-be">
            <h3>To be Evaluated</h3>

        </a>
        <a href="/Evaluator/EvaluatorMissed" class="eval-category missed">
            <h3>Missed </h3>
        </a>
        <a href="/Evaluator/EvaluatorEvaluated" class="eval-category evaluated">
            <h3>Evaluated</h3>
        </a>
    </div>
    @if(Model != null && Model.Any())
    {
        <table class="document-table">
            <thead>
                <tr>
                    <th>DTS No.</th>
                    <th>Details</th>
                    <th>Evaluation Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @(item.dts_No != null ? item.dts_No : "-")
                        </td>
                        <td>
                            <b>Research Title:</b> @item.research_Title<br />
                            <b>Field of Study:</b> @item.field_of_Study
                        </td>
                        <td>
                            @item.evaluation_deadline?.ToString("MMMM d, yyyy")
                        </td>
                        <td>
                            @if(item.application_Status == "Approved")
                            {
                                <span class="status approved">@item.application_Status</span>
                            }
                            else
                            {
                                <span class="status rejected">@item.application_Status</span>
                            }
                        </td>
                        <td class="action-buttons">
                            <a href="/Evaluator/GenerateEvalsForm" class="fillup-btn"><i class="bi bi-eye-fill"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No done evaluations at this time.</p>
    }
    <a href="/Home/UnderMaintenance" class="back-btn">Back</a>
</div>
