@model IEnumerable<FileRequirement>
@{
    ViewData["Title"] = "Generated Evaluation Forms";
    Layout = "_NavEvaluator1";
}
<div class="container">
    <!-- List of Generated Forms -->
    <div class="document-section">
        <h5>Filled Evaluation Forms</h5><hr />
        <p>Click the forms below to download it.</p>
        <ul class="doc-list">
            @foreach (var doc in Model)
            {
                <li>
                    <a class="btn" href="@Url.Action("Download", "Evaluator", new { id = doc.fr_Id })">
                        <i class="bi bi-file-word" style="margin-right: 10px;"></i> @doc.file_Name
                        <i class="bi bi-download" style="font-size: 20px; float:right"></i>
                    </a>
                </li>
            }
        </ul>
        <h6>Final Grade: @ViewBag.Grade</h6>
        <h6>Remarks: @ViewBag.Remarks</h6>
    </div>
</div>

<a class="proceed-btn" href="@Url.Action("EvaluatorEvaluated", "Evaluator")">Back</a>